LOGGING_FILE="log/app.log"
DATABASE_URL="file:local.db"
REDIS_URL="redis://localhost:6379"

ABYSS_SECRET="random-secret"

STEAM_WEBAPI_TOKEN="abcdefg"
ONEBOT_BASE_URL="http://example.com"
ONEBOT_TOKEN="abcdefg"
